<script setup>
import LinkBox from "../LinkBox.vue";
import FancyDecoration from "../FancyDecoration.vue";
</script>

<template>
  <div class="Section">
    <FancyDecoration />
    <H1 class="Header Text">Contact</H1>
    <p class="SubText Text"> You can find me under the following Links and Addresses: </p>
    <div class="LinkContainer">
      <div class="Link" v-for="link in Links">
        <LinkBox class="LinkBox" :Icon="link.Icon" :Link="link.Link"> </LinkBox>
        <span >{{link.Name}}</span>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "ContactPage",
  data() {
    return {
      Links: [
        {
          Name: "LinkedIn",
          Icon: "LinkedIn",
          Link: "https://www.linkedin.com/in/jesco-vogt-639905209/"
        },
        {
          Name: "Discord: Jesco#1111",
          Icon: "Discord",
          Link: ""
        },
        {
          Name: "Itch.io",
          Icon: "ItchIO",
          Link: "https://jescovogt.itch.io/"
        },
        {
          Name: "Email: JescoVogt (at) gmx.de",
          Icon: "Mail",
          Link: ""
        },
      ]
    }
  }
}
</script>

<style scoped>

  .Header {
    font-size: var(--big-boy-font-size);
  }

  .SubText {
    padding-bottom: var(--outer-global-padding);
  }

  .Text {
    text-align: center;
  }

  .LinkContainer {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .Link {
    padding-bottom: var(--outer-global-padding);
    width: fit-content;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .Link:last-child {
    padding-bottom: unset;
  }


  .LinkBox {
    width: 100px; height: 100px;
    display: inline-block;
  }

  .LinkBox:deep(.IconPath) {
    fill: var(--color-panel-invers)
  }

  .Link span {
    height: fit-content;
    margin: auto var(--outer-global-padding);
  }

</style>