<script setup>
import SmolProjectDisplay from "../SmolProjectDisplay.vue";
import HeroImage from "../HeroImage.vue";
import FancyDecoration from "../FancyDecoration.vue";
</script>


<template>
  <div class="Component">
    <div class="Section DynamicFlexContainer">

      <div class="DynamicFlexElement" style="width: 40%;">
        <H1> <span>Hello there, </span><span>I'm Jesco.</span></H1>
        <div class="Titles">
          <span>{ </span><span>Game Developer; </span><span>Programmer; </span><span>Technical Artist; </span><span>}</span>
        </div>
        <div class="SubText">
          // At the moment I am in the process of finishing my Masters Degree in Media Informatics
        </div>
      </div>

      <div class="DynamicFlexElement" style="width: 60%;">
        <HeroImage class="HeroImage" :src="'./Pfp/Gamer512.png'"></HeroImage>
      </div>

    </div>

    <div class="SubSection Section">
      <FancyDecoration />
      <H2> Here are some things I made {</H2>
      <div class="FilterPanel">
        <div class="Filter" v-for="filter in AllFilter"
             @click="HandleFilterClick(filter)" :class="{Selected: selectedTag == filter}">
          {{filter}}
        </div>
      </div>
      <div class="ProjectPanel">
        <SmolProjectDisplay class="SmolPanel"
                            v-for="project in FilteredProjects"
                            :image="project.image"
                            :description="project.description">
        </SmolProjectDisplay>
      </div>
      <H2> } </H2>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomePage",
  computed: {
    AllFilter() {
      let filter = ["All"];
      for (let smolProject of this.smolProjects) {
        for (let tag of smolProject.tags) {
          if(!filter.includes(tag)) filter.push(tag);
        }
      }
      return filter.sort();
    },
    FilteredProjects() {
      if(this.selectedTag == "All") return this.smolProjects;
      return this.smolProjects.filter((project) => project.tags.includes(this.selectedTag));
    }
  },
  methods: {
    HandleFilterClick(filter) {
      if(this.selectedTag == filter) this.selectedTag = "All";
      else this.selectedTag = filter;
    }
  },
  data() {
    return {
      selectedTag: "All",
      smolProjects: [
        {
          image: [
            "https://cdn.cloudflare.steamstatic.com/steam/apps/1852660/ss_34b4eb868072131f2668f4ac66a48da161f7e461.600x338.jpg?t=1645009549",
            "https://cdn.cloudflare.steamstatic.com/steam/apps/1852660/ss_efea1c64812aafc1623e67045097acadf2f81c80.600x338.jpg?t=1645009549",
            "https://cdn.cloudflare.steamstatic.com/steam/apps/1852660/ss_8630acc26be81d1ef30aad63142f7e8a8e86741c.600x338.jpg?t=1645009549",
            "https://cdn.cloudflare.steamstatic.com/steam/apps/1852660/ss_ce79d3349491fddc941f7beaad3209c1cde35c7f.600x338.jpg?t=1645009549",
            "https://cdn.cloudflare.steamstatic.com/steam/apps/1852660/ss_3f682dbade6878d9671ed8646f81c17d7b954799.600x338.jpg?t=1645009549",
          ],
          description: "Ampguard was our big final project for university, you can find more on the project page.",
          tags: ["Ampguard"]
        },
        {
          image: [
            "./SmallProjects/SchwertWindup.gif",
            "./SmallProjects/SchwertMainCrop.gif",
            "./SmallProjects/SchwertHit.gif",
          ],
          description: "This is a particle effect I made for Ampguard. Its for a shard called Energy Blades.",
          tags: ["CCD", "Particle Effects", "Ampguard"]
        },
        {
          image: [
            "./SmallProjects/clawWindUpCrop.gif",
            "./SmallProjects/clawMainCrop.gif",
          ],
          description: "Another particle effect for Ampguard, this time the shard is called Essence Grasp",
          tags: ["CCD", "Particle Effects", "Ampguard"]
        },
        {
          image: [
              "./SmallProjects/steampunkSwordOptimized.gif",
              "./SmallProjects/steampunkSword2.gif",
          ],
          description: "A Steampunk Sword I made for fun, mostly made up of smart materials, due to very limited time.",
          tags: ["CCD", "Modeling"]
        },
        {
          image: [
            "./SmallProjects/Traumisolierer3.jpg",
            "./SmallProjects/Traumisolierer1.jpg",
            "./SmallProjects/Traumisolierer2.jpg",
          ],
          description: "My second model for university, the theme was \"Dreamisolator\".",
          tags: ["CCD", "Modeling"]
        },
        {
          image: "./SmallProjects/NierRoboBro.gif",
          description: "My first model for university. It's an enemy from my favorite Game Nier Automata.",
          tags: ["CCD", "Modeling"]
        },
      ]
    }
  },
}
</script>

<style scoped>

  H1 span, .Titles span {
    display: block;
  }

  H1 {
    font-size: var(--big-boy-font-size);
    line-height: 1;
    padding-bottom: 10px;
  }
  .Titles { font-size: 25px; }
  .SubText { font-size: 15px;}

  .HeroImage {
    width: 350px;
    height: 350px;
    margin: 75px auto;
  }

  .ProjectPanel {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .FilterPanel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: var(--outer-global-padding) 0;
  }

  .Filter {
    background-color: var(--color-background);
    color: var(--color-background-invers);
    padding: calc(var(--outer-global-padding) / 2);
    margin: 0 var(--outer-global-padding);
    transition: var(--scale-transform-transition);
  }

  .Filter:hover {
    transform: var(--scale-transform);
  }

  .Filter.Selected {
    color: var(--color-gradient2)
  }

  .Filter.Selected::before {
    content: "/";
    color: var(--color-gradient2)
  }

  .SmolPanel {
    --size: 250px;
    width: var(--size);
    height: var(--size);
    margin: 25px;
  }

  @media (max-width: 900px) {

    H1, .Titles, .SubText {
      text-align: center;
    }

    H1 { font-size: 50px; }
    .Titles { }

    H1 span, .Titles span {
      display: inline-block;
      padding: 0 5px;
    }

    .HeroImage {
      width: 100%;
      max-width: 250px;
      height: auto;
    }
  }

  @media (max-width: 660px) {
    .SmolPanel {
      --size: calc((100vw - var(--outer-global-padding) * 4 - 25px * 4) / 2);
      width: var(--size);
      height: var(--size);
    }
  }

</style>