<script setup>
import LinkBox from "../LinkBox.vue";
import FancyDecoration from "../FancyDecoration.vue";
</script>

<template>
  <div class="Section">
    <H1>Legal Disclosure</H1>
    <p>
      Information in accordance with section 5 TMG<br>
      <br>
      Jesco Vogt<br>
      Melanchthonstr. 2<br>
      09648 Mittweida<br>
      GERMANY<br>
    </p>
    <H2>Contact Information</H2>
    <p>
      Telephone: +49 175 4181661<br>
      E-Mail: JescoVogt (at) gmx.de<br>
      Internet adress: jesco.dev<br>
    </p>
    <H2>Disclaimer</H2>
    <H3>Accountability for content</H3>
    <p>
      The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents'
      accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for
      our own content on these web pages. In this context, please note that we are accordingly not obliged to monitor
      merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal
      activity. Our obligations to remove or block the use of information under generally applicable laws remain
      unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).
    </p>
    <H3>Accountability for links</H3>
    <p>
      Responsibility for the content of external links (to web pages of third parties) lies solely with the operators
      of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement
      become known to us, we will remove the respective link immediately.
    </p>
    <H3>Copyright</H3>
    <p>
      Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law (§ 44a
      et seq. of the copyright law), every form of utilizing, reproducing or processing works subject to copyright
      protection on our web pages requires the prior consent of the respective owner of the rights. Individual
      reproductions of a work are allowed only for private use, so must not serve either directly or indirectly for
      earnings. Unauthorized utilization of copyrighted works is punishable (§ 106 of the copyright law).
    </p>
  </div>
</template>

<script>

export default {
  name: "LegalStuffPage",
}
</script>

<style scoped>

  H1 { font-size: var(--big-boy-font-size); }
  H2 { font-size: calc(var(--big-boy-font-size) * 0.75); }
  H3 { font-size: calc(var(--big-boy-font-size) * 0.5); }

  H2, H3 {
    padding-top: var(--outer-global-padding);
  }

  p, H1, H2, H3 {
    text-align: center;
  }

</style>