<script setup>
import LinkBox from "../LinkBox.vue";
import SlideShow from "../SlideShow.vue";
import FancyDecoration from "../FancyDecoration.vue";
</script>

<template>
  <div class="project Section" v-for="(project, projectIndex) in projects" :key="project.Title">
    <FancyDecoration v-if="LastSection(projectIndex)"/>
    <H1 class="Header" :style="{marginRight: (project.Links.length * 75 + 15) + 'px'}">{{project.Title + ' {'}}</H1>
    <div class="LinkContainer">
      <LinkBox class="LinkBox" v-for="link in project.Links" :Icon="link.Icon" :Link="link.Link"></LinkBox>
    </div>
    <H1 class="SubHeader">{{project.Header}}</H1>

    <div class="contentDisplay" v-for="(section, index) in project.Sections" :class="{flip: index % 2 != 0}">
      <p class="SectionSubtext" v-html="section.Subtext"> </p>
      <SlideShow v-if="Array.isArray(section.Images)" class="imageDisplay"
                 :images="section.Images" :decorated="!LastElement(projectIndex, index)"/>
    </div>
    <H1 class="Header">}</H1>
  </div>
</template>

<script>
export default {
  name: "ProjectsPage",
  methods: {
    LastSection(projectIndex) {return projectIndex == this.projects.length - 1},
    LastElement(projectIndex, index) {
      return this.LastSection(projectIndex) && index == this.projects[projectIndex].Sections.length - 1;
    }
  },
  data() {
    return {
      projects: [
        {
          Title: "Ampguard",
          Header: "Programming Director, Personnel responsibility: 16 Developers, Project Planning, Scrum Master, " +
              "Git Master, System Lead",
          Sections: [
            {
              Subtext: "Ampguard is a <strong>one-year university project</strong> where all students worked together on one big final project. " +
                  "With over 50 people this is a great opportunity to figure out how to function together as a big team, " +
                  "how to work through issues and how to overall develop a game from start to finish. <br> I supervised the project on " +
                  "the coding and engine side as the <strong>programming director</strong>, and I learned a ton from and with my developers. " +
                  "Overall I am very greatfull towards all the talented people I had the pleasure of working with.",
              Images: [
                "./Projects/SteamScreenshot.jpg",
                "https://cdn.cloudflare.steamstatic.com/steam/apps/1852660/ss_34b4eb868072131f2668f4ac66a48da161f7e461.600x338.jpg?t=1645009549",
                "https://cdn.cloudflare.steamstatic.com/steam/apps/1852660/ss_efea1c64812aafc1623e67045097acadf2f81c80.600x338.jpg?t=1645009549",
                "https://cdn.cloudflare.steamstatic.com/steam/apps/1852660/ss_8630acc26be81d1ef30aad63142f7e8a8e86741c.600x338.jpg?t=1645009549",
                "https://cdn.cloudflare.steamstatic.com/steam/apps/1852660/ss_ce79d3349491fddc941f7beaad3209c1cde35c7f.600x338.jpg?t=1645009549",
                "https://cdn.cloudflare.steamstatic.com/steam/apps/1852660/ss_3f682dbade6878d9671ed8646f81c17d7b954799.600x338.jpg?t=1645009549",
              ],
            },
            {
              Subtext: "I used my position to provide help and support to every team member to the best of my time " +
                  "and abilities. Our <strong>development process</strong> included a large uml diagram that was " +
                  "developed with the core team. The diagram provided the team with a great oversight of the systems we " +
                  "were developing. This prooved to be very helpful especially during the first half of the project, " +
                  "where we were mostly expanding the code base.",
              Images: [
                "./BetaIrl/Heads1920x1280.jpg",
                "./BetaIrl/MeAndSallyInLove1920x1280.jpg",
                "./BetaIrl/JustinShoeBitch.jpg",
                "./BetaIrl/MeAndMaxInLove1920x1280.jpg",
                "./BetaIrl/Beta1920x1106.jpg",
              ],
            }
          ],
          Links: [
            {
              Icon: "YouTube",
              Link: "https://www.youtube.com/watch?v=6n0MGzoEvTc"
            },
            {
              Icon: "ItchIO",
              Link: "https://games-studieren.itch.io/ampguard"
            },
            {
              Icon: "Steam",
              Link: "https://store.steampowered.com/app/1852660/Ampguard/"
            },
          ]
        },
        {
          Title: "Albi and the Adventures of Hootwars",
          Header: "Gamejam 48h, Main Programmer, System Lead",
          Sections: [
            {
              Subtext: "Albi is the Result of a <strong>Gamejam</strong> that took part over the course of " +
                  "<strong>two days</strong>. We had only a few People working on the Project and very limited " +
                  "time, which makes me even happier that I was able to develop a <strong>clean and modular " +
                  "system</strong> and stick to my coding standards even under this kind of pressure. " +
                  "<br> I strongly believe that keeping maintenance and extendability in mind during development is " +
                  "the best way to code, in any scenario and leeds to better outcomes even in short and small " +
                  "projects like this.",
              Images: [
                "https://img.itch.zone/aW1hZ2UvMTE4NTQwNS83NDA2MzQzLmdpZg==/original/8TYtr6.gif",
                "https://img.itch.zone/aW1hZ2UvMTE4NTQwNS83NDA2MzU3LmdpZg==/original/1zG%2FRL.gif",
                "https://img.itch.zone/aW1hZ2UvMTE4NTQwNS83NDA2MzQyLmdpZg==/original/dIaqxa.gif",
                "https://img.itch.zone/aW1hZ2UvMTE4NTQwNS83NDA2MzQ2LmdpZg==/original/nSWvZu.gif",
                "https://img.itch.zone/aW1hZ2UvMTE4NTQwNS83NDA2MzUxLmdpZg==/original/D0m53%2F.gif"
              ],
            }
          ],
          Links: [
            {
              Icon: "ItchIO",
              Link: "https://ibrahimki.itch.io/albi"
            }
          ]
        },
      ]
    }
  },
}
</script>

<style scoped>

.Header {
  width: fit-content;
  margin: 0 var(--outer-global-padding);
  display: inline-block;
  font-size: 40px;
}

.SubHeader {
  margin: 0 var(--outer-global-padding);
  display: flow;
  font-size: 20px;
}

.project {
  padding: var(--outer-global-padding) 0;
}

.contentDisplay {
  --child-size: calc((100vw - var(--outer-global-padding) * 3) / 2);
  margin: 0 var(--outer-global-padding);
}

.contentDisplay.flip {
  flex-direction: row-reverse;
}

.SectionSubtext {
  width: 100%;
  margin: 0;
  padding: var(--outer-global-padding) 0 calc(var(--outer-global-padding) * 2);
}

.SectionSubtext:deep(strong) {
  color: var(--color-gradient2);
}

.LinkContainer {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  top: var(--outer-global-padding);
  right: var(--outer-global-padding);
}

.LinkBox {
  width: 60px;
  height: 60px;
  margin-right: var(--outer-global-padding);
}
.LinkBox:last-child { margin-right: unset; }

.contentDisplay {
  display: block;
}

.imageDisplay {
  width: 100%;
  margin: 0 calc(var(--outer-global-padding) / 2);
}

@media (max-width: 500px) {
  .Header {
    margin: 0 var(--outer-global-padding) !important;
  }

  .LinkContainer {
    position: static;
    padding: var(--outer-global-padding);
  }
}

</style>