<script setup>
import ResumeSection from "../ResumeSection.vue";
import SkillBar from "../SkillBar.vue";
import HeroImage from "../HeroImage.vue";
</script>

<template>
  <div class="Panel">
    <div class="Introduction Section DynamicFlexContainer">
      <div class="DynamicFlexElement">

        <div v-for="section in AboutMe">
          <H1 class="Centered Header" v-html="section.Title"></H1>
          <p class="Centered" v-for="text in section.Sections" v-html="text"></p>
        </div>

      </div>
      <div class="DynamicFlexElement">
        <HeroImage class="HeroImage" src="./Pfp/MaxAdventure512.png" />
      </div>
    </div>

    <div class="Section">
      <H1 class="Header"> Knowledge and Skills</H1>
      <p>Pro Tip: You can find more information by hovering your mouse over the sections of my skills</p>
      <div class="SkillSection DynamicFlexContainer">
        <div class="SkillSet DynamicFlexElement">
          <H1>Soft Skills {</H1>
          <div class="SkillBlock">
            <SkillBar v-for="skill in SoftSkills" :Label="skill.Label"
                      :Value="skill.Value" :Level="skill.Level" :Tooltip="skill.Tooltip" />
          </div>
          <H1>}</H1>
        </div>
        <div class="SkillSet DynamicFlexElement">
          <H1>Hard Skills {</H1>
          <div class="SkillBlock">
            <SkillBar class="SkillBar" v-for="skill in HardSkills" :Label="skill.Label"
                      :Value="skill.Value" :Level="skill.Level" :Tooltip="skill.Tooltip" />
          </div>
          <H1>}</H1>
        </div>
      </div>
    </div>

    <div class="MainSection Section">
      <H1 class="Header">Education</H1>
      <div class="ResumePanel" ref="ResumePanel">
        <ResumeSection v-for="(section, index) in Sections" class="ResumeSection"
                       :class="{Flipped: index % 2 != 0 }"
                       :From="section.From" :To="section.To"
                       :Header="section.Title" :Content="section.Subtext" :DecoType="index" />
      </div>

      <div class="Arrow" ref="Arrow">
        <div class="Indicator" v-for="(section, index) in Sections"
             :class="{Flipped: index % 2 != 0}" />
        <div class="ArrowHead"></div>
      </div>

    </div>

  </div>

</template>

<script>

export default {
  name: "ResumePage",
  mounted() {
    this.CalculatePanelHeight();
    this.CalculateIndicatorPositions();
    window.addEventListener("resize", this.CalculatePanelHeight)
    window.addEventListener("resize", this.CalculateIndicatorPositions)
  },
  unmounted() {
    window.removeEventListener("resize", this.CalculatePanelHeight)
    window.removeEventListener("resize", this.CalculateIndicatorPositions)
  },
  methods: {
    CalculatePanelHeight() {
      if(window.innerWidth <= 900) {
        this.$refs.ResumePanel.style.height = "";
        this.$refs.Arrow.style.top = "";
        return;
      }

      let maxHeightTop = 0, maxHeightBottom = 0;
      let children = this.$refs.ResumePanel.children;
      for (let i = 0; i < children.length; i++) {
        if(i % 2 != 0) maxHeightBottom = Math.max(maxHeightBottom, children[i].clientHeight);
        else maxHeightTop = Math.max(maxHeightTop, children[i].clientHeight);
      }
      let value = (maxHeightTop + maxHeightBottom + 150) + "px";
      this.$refs.ResumePanel.style.height = value;
      this.$refs.Arrow.style.top = (maxHeightTop + 175) + "px"
    },
    CalculateIndicatorPositions() {
      let resumeBox = this.$refs.ResumePanel.getBoundingClientRect();
      let arrowBox = this.$refs.Arrow.getBoundingClientRect();
      let arrowChildren = this.$refs.Arrow.children;
      let resumeChildren = this.$refs.ResumePanel.children;
      for (let i = 0; i < this.Sections.length; i++) {
        let childBox = resumeChildren[i].getBoundingClientRect();
        let left = (childBox.left + childBox.width / 2 - resumeBox.left - arrowBox.left / 2) + "px";
        let top = (childBox.top + childBox.height / 2 - resumeBox.top - arrowBox.left * 2) + "px";
        if(window.innerWidth <= 900) {
          arrowChildren[i].style.top = top;
          arrowChildren[i].style.left = "";
        }
        else {
          arrowChildren[i].style.top = "";
          arrowChildren[i].style.left = left;
        }
      }
    }
  },
  data() {
    return {
      AboutMe: [
        {
          Title: "Who I am",
          Sections: [
              "Engine-Generalist, rapid Prototyper, System Design Junkie, Jack of all Trades Artist",
              "determined, curious, eager to learn, friendly, helping"
          ]
        },
        {
          Title: "What I'm best At",
          Sections: [
              "System Design, Code Consistency, GameFeel Completion (Usability, Aesthetics & UX-Improvements) " +
              "and Backflips"
          ]
        },
        {
          Title: "What I despise",
          Sections: [
            "mint and olives",
            "if someone ever offers me mint olives I will commit war crimes"
          ]
        },
      ],
      Sections: [
        {
          From: "09/2019",
          To: "Current",
          Category: "Education",
          Title: "University of Applied Sciences Mittweida, Germany",
          Subtext: "Bachelor Media Informatics and Interactive Entertainment (B.Sc.) <br>" +
              "Master Media Informatics and Interactive Entertainment (M.Sc.)",
        },
        {
          From: "02/2018",
          To: "02/2018",
          Category: "Education",
          Title: "Holiday Course Gamedesign/3D",
          Subtext: "Dresdner Semper Schulen (Modelling, Unity, C#)"
        },
        {
          From: "08/2011",
          To: "07/2019",
          Category: "Education",
          Title: "Pestalozzi Gymnasium, Dresden",
          Subtext: "A-Levels (Abitur, German qualification for attending University)"
        },
      ],
      SoftSkills: [
        {
          Label: "Overengineering",
          Value: 100,
          Level: "main activity",
          Tooltip: "I am a big perfectionist, which can sometimes be an issue. If i know something is better I " +
              "will usually pursue it no matter if its harder or takes more time."
        },
        {
          Label: "Critical Faculty",
          Value: 90,
          Level: "welcoming",
          Tooltip: "A big Value I hold is self-improvement. Exchanging views and experience with other people " +
              "seems to be the most effective way to grow and strengthen your own Knowledge."
        },
        {
          Label: "Teamwork",
          Value: 85,
          Level: "experienced",
          Tooltip: "Our final project for University was a big project with around 50 to 60 People (Ampguard). " +
              "I was responsible for 16 of them. I learned a lot about working with people and playing around " +
              "everyone's unique strengths and weaknesses."
        },

        {
          Label: "Communication",
          Value: 75,
          Level: "confident",
          Tooltip: "Communication and Teamwork go hand in hand, since Communication is the most important " +
              "aspect to any Project. I also learned a lot about this with the above mentioned University Project"
        },
        {
          Label: "Comprehension of new Topics",
          Value: 75,
          Level: "fast",
          Tooltip: "One skill that was extremely useful with my lead position was the ability to quickly pick up new " +
              "topics and incorporate new knowledge into my work. Being very interested in a variety of topics " +
              "helps me with this a lot."
        },
      ],
      HardSkills: [
        {
          Label: "Programming (C#, Java, C++)",
          Value: 98,
          Level: "main activity",
          Tooltip: "I spent most of my time during University on Object Oriented Languages. I have the most Knowledge " +
              "with C# and Java, where I worked on multiple Projects. But I also touched C++ with the Unreal Engine and " +
              "one standalone project."
        },
        {
          Label: "Unity Game Engine",
          Value: 90,
          Level: "experienced",
          Tooltip: "With 2 half year and 1 full year university project and around 6 Gamejams I have worked a lot with " +
              "Unity. I enjoy the set of features it provides a lot."
        },
        {
          Label: "Software Versioning (git)",
          Value: 90,
          Level: "experienced",
          Tooltip: "During my time as Tech Head for Ampguard I got a lot of praxis. I had to resolve countless merge " +
              "conflicts and was confronted with a variety of common git issues I had to solve for team members."
        },
        {
          Label: "VFX Game Effects (Unity)",
          Value: 50,
          Level: "basic understanding",
          Tooltip: "You can find some of the VFX I created on the Home Page. I use mostly VFX Graph, but I also have " +
              "some experience with shuriken"
        },
        {
          Label: "Shader Development",
          Value: 50,
          Level: "basic understanding",
          Tooltip: "I have a deep love for custom shading. I have created a variety of toon shaders and some other " +
              "shaders which use light information in interesting ways. Creating a stylized look is something I enjoy " +
              "a lot. I have worked with HLSL in Unity, but also with GLSL in a custom C++ environment."
        },
        {
          Label: "3D Modelling, Texturing",
          Value: 40,
          Level: "basic understanding",
          Tooltip: "You can find some of the 3D models I created on the Home Page. I use mostly Blender, " +
              "Substance Painter and Photoshop"
        },
        {
          Label: "Web Development",
          Value: 40,
          Level: "basic understanding",
          Tooltip: "Creating this Website with Vue.js as my first web development project " +
              "taught me a lot about HTML, CSS and JavaScript and helped me to get outside my comfort zone. " +
              "Since then I have worked on a handful more projects and expanded my knowledge on the topic."
        },
      ]
    }
  }
}
</script>

<style scoped>

.ResumeSection {
  height: fit-content;
}

.Centered {
  text-align: center;
}

.HeroImage {
  width: 350px;
  height: 350px;
  margin: 100px auto;
}

.Header {
  font-size: 40px;
  padding-top: var(--outer-global-padding);
}
.Header:first-child { padding-top: unset; }

.ResumePanel {
  margin: 50px 50px 0;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-direction: row-reverse;
}

.ResumeSection.Flipped {
  align-self: flex-end;
}

.Arrow {
  --distance-side: calc(2 * var(--outer-global-padding) + 25px);
  --arrow-head-size: calc(var(--outer-global-padding) * 3);
  --arrow-height: var(--outer-global-padding);
  position: absolute;
  top: calc(50% - var(--arrow-height) / 2);
  left: var(--distance-side);
  width: calc(100% - var(--distance-side) * 2 - var(--arrow-head-size));
  height: var(--arrow-height);
  background-color: var(--color-gradient2);
}

.Indicator {
  position: absolute;
  left: 0px;
  bottom: 50%;
  width: var(--arrow-height);
  height: var(--arrow-head-size);
  background-color: var(--color-gradient2);
}

.Indicator.Flipped {
  top: 50%
}

.ArrowHead {
  position: absolute;
  height: var(--arrow-head-size); width: var(--arrow-head-size);
  right: calc(-1 * var(--arrow-head-size));
  top: calc(50% - var(--arrow-head-size) / 2);
  background-color: var(--color-gradient2);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.SkillSection {
  align-items: flex-start;
}

.SkillSet {
  padding: 25px 50px 0;
}

.SkillBlock {
  background-color: var(--color-background);
  padding: var(--outer-global-padding);
  margin: var(--outer-global-padding) 0;
}

/* inner distance between skillbars, first one has no padding */
.SkillBar { margin-top: 25px; }
.SkillBar:first-child { margin-top: 0; }

@media (max-width: 900px) {

  .ResumePanel {
    height: unset;
    margin: var(--outer-global-padding) var(--outer-global-padding) var(--outer-global-padding) 100px;
    justify-content: space-between;
    align-content: flex-start;
    flex-direction: column;
  }

  .ResumeSection.Flipped {
    align-self: unset;
  }

  .ResumeSection {
    margin: 25px;
  }

  .Arrow {
    --distance-side: calc(3 * var(--outer-global-padding) + 25px);;
    position: absolute;
    top: unset; bottom: var(--distance-side);
    left: calc(var(--outer-global-padding) * 2);
    width: var(--arrow-height);
    height: calc(100% - var(--distance-side) * 2 - var(--arrow-head-size) * 2);
    background-color: var(--color-gradient2);
  }

  .Indicator {
    position: absolute;
    left: 0px;
    bottom: 50%;
    width: var(--arrow-head-size);
    height: var(--arrow-height);
    background-color: var(--color-gradient2);
  }

  .Indicator.Flipped {
    top: unset;
  }

  .ArrowHead {
    position: absolute;
    height: var(--arrow-head-size); width: var(--arrow-head-size);
    right: calc(50% - var(--arrow-head-size) / 2);
    top: calc(-1 * var(--arrow-head-size));
    background-color: var(--color-gradient2);
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
  }
}

@media (max-width: 600px) {

  .Arrow {
    visibility: hidden;
  }

  .ResumePanel {
    margin: var(--outer-global-padding)
  }
}

</style>