<template>

  <div class="FillParent">
    <div class="FillParent Gradient1"></div>
    <div class="FillParent Gradient2"></div>
    <div class="FillParent Gradient3"></div>
  </div>

</template>

<script>
export default {
  name: "FancyDecoration"
}
</script>

<style scoped>

.FillParent {
  width: 100%; height: 100%;
  position: absolute;
  left: 0; top: 0;
}

.Gradient1 {
  background-color: var(--color-gradient1);
  clip-path: polygon(0% 72%, 65% 57%, 100% 78%, 100% 100%, 0 100%);

}
.Gradient2 {
  background-color: var(--color-gradient2);
  clip-path: polygon(0% 63%, 86% 100%, 0% 100%);
}
.Gradient3 {
  background: linear-gradient(90deg, var(--color-gradient2) 0%, var(--color-gradient3) 100%);
  clip-path: polygon(33% 84%, 100% 64%, 100% 100%, 27% 100%);
}

</style>