<script setup>
defineProps({
  src: { type: String, required: true },
})
</script>

<template>
  <div class="HeroImage">
    <div class="Decorator Gradient1"></div>
    <div class="Decorator Gradient2"></div>
    <div class="Decorator Gradient3"></div>
    <img class="Image" :src="src" alt="Image of me" loading="lazy">

  </div>
</template>

<script>
export default {
  name: "HeroImage"
}
</script>

<style scoped>

.Image {
  margin: auto;
  width: 100%; height: 100%;
  background-color: var(--color-panel-invers);
}

.Decorator {
  width: 170%; height: 150%;
  position: absolute;
  left: -35%; top: -25%;
}

.Gradient1 {
  background-color: var(--color-gradient1);
  clip-path: polygon(53% 7%, 100% 17%, 83% 89%, 0 73%);
}
.Gradient2 {
  background-color: var(--color-gradient2);
  clip-path: polygon(49% 5%, 92% 39%, 69% 88%, 40% 98%, 17% 79%, 9% 19%);
}
.Gradient3 {
  background: var(--color-gradient2);
  background: linear-gradient(90deg, var(--color-gradient2) 0%, var(--color-gradient3) 100%);
  clip-path: polygon(57% 0, 65% 11%, 66% 22%, 96% 52%, 69% 94%, 13% 80%);
}

</style>