<template>
  <div class="Component">
    <input
        @change="toggleTheme"
        id="checkbox"
        type="checkbox"
        class="switch-checkbox"
    />
    <label for="checkbox" class="switch-label">
      <span>🌙</span>
      <span>☀</span>
      <div
          class="switch-toggle"
          :class="{ 'switch-toggle-checked': userTheme === 'dark-theme' }"
      ></div>
    </label>
  </div>
</template>

<script>
export default {
  name: "LightSwitch",
  mounted() {
    const initUserTheme = this.getTheme() || this.getMediaPreference();
    this.setTheme(initUserTheme);
  },
  data() {
    return {
      userTheme: "light-theme",
    };
  },
  methods: {
    toggleTheme() {
      const activeTheme = localStorage.getItem("user-theme");
      if (activeTheme === "light-theme") this.setTheme("dark-theme");
      else this.setTheme("light-theme");
    },

    getTheme() {
      return localStorage.getItem("user-theme");
    },

    setTheme(theme) {
      localStorage.setItem("user-theme", theme);
      this.userTheme = theme;
      document.documentElement.className = theme;
    },

    getMediaPreference: function () {
      const hasDarkPreference = window.matchMedia("(prefers-color-scheme: dark)").matches;
      return hasDarkPreference ? "dark-theme" : "light-theme";
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.switch-checkbox {
  display: none;
}

.switch-label {
  align-items: center;
  background: var(--color-panel);
  border: 3px solid var(--color-gradient1);
  border-radius: 40px;
  min-width: 75px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 5px;
  transition: background 0.5s ease;
  z-index: 1;
}

.switch-toggle {
  position: absolute;
  background-color: var(--color-panel-invers);
  border-radius: 50%;
  --handle-size: 30px;
  top: calc((100% - var(--handle-size)) / 2);
  left: 3px;
  height: var(--handle-size);
  width:  var(--handle-size);
  transform: translateX(0);
  transition: transform 0.3s ease, background-color 0.5s ease;
}

.switch-toggle-checked {
  transform: translateX(115%);
}

@media (max-width: 420px) {
  .switch-label {
    border-radius: 20px;
    min-width: 60px;
  }

  .switch-label span {
    font-size: 12px;
  }

  .switch-toggle {
    --handle-size: 25px;
  }

  .switch-toggle-checked {
    transform: translateX(100%);
  }
}
</style>