<script setup>
defineProps({
  Icon: { type: String, required: true },
  Link: { type: String, required: false, default: null }
})
</script>

<template>
  <a class="LinkBox" :class="{HoverEffect: validLink}" :href="validateLink" target="_blank" rel="noopener noreferrer">
    <svg class="Icon FillParent" v-if="isSteam" viewBox="0 0 100 90">
      <path class="IconPath" d="m45.084 1c-23.238 0-42.275 17.918-44.084 40.689l23.71 9.803c2.009-1.374 4.436-2.179 7.047-2.179.234 0 .467.01.698.021l10.544-15.283c0-.073 0-.144 0-.216 0-9.199 7.483-16.683 16.683-16.683 9.199 0 16.682 7.484 16.682 16.683s-7.483 16.684-16.682 16.684c-.127 0-.253 0-.379-.01l-15.038 10.73c.01.195.015.394.015.592 0 6.906-5.617 12.522-12.522 12.522-6.061 0-11.129-4.326-12.277-10.055l-16.957-7.006c5.25 18.568 22.309 32.181 42.56 32.181 24.432 0 44.237-19.806 44.237-44.235 0-24.433-19.806-44.238-44.237-44.238" />
      <path class="IconPath" d="m28.721 68.122-5.434-2.245c.963 2.005 2.629 3.684 4.841 4.606 4.782 1.992 10.295-.277 12.288-5.063.965-2.314.971-4.869.014-7.189-.955-2.321-2.757-4.131-5.074-5.097-2.299-.957-4.762-.922-6.926-.105l5.613 2.321c3.527 1.47 5.195 5.52 3.725 9.047-1.467 3.528-5.52 5.196-9.047 3.725"/>
      <path class="IconPath" d="m70.796 33.835c0-6.129-4.986-11.116-11.116-11.116-6.129 0-11.116 4.987-11.116 11.116 0 6.13 4.987 11.115 11.116 11.115 6.13 0 11.116-4.986 11.116-11.115m-19.448-.019c0-4.612 3.739-8.35 8.351-8.35s8.351 3.738 8.351 8.35-3.739 8.35-8.351 8.35-8.351-3.739-8.351-8.35" />
    </svg>
    <svg class="Icon FillParent" v-if="isItchIO" viewBox="0 0 225 200">
      <path class="IconPath" d="M28.832 1.228C19.188 6.954.186 28.785.004 34.51v9.478c0 12.014 11.23 22.572 21.424 22.572 12.24 0 22.44-10.146 22.442-22.187 0 12.04 9.85 22.187 22.093 22.187 12.242 0 21.776-10.146 21.776-22.187 0 12.04 10.47 22.187 22.71 22.187h.22c12.24 0 22.72-10.146 22.72-22.187 0 12.04 9.53 22.187 21.77 22.187s22.09-10.146 22.09-22.187c0 12.04 10.2 22.187 22.44 22.187 10.19 0 21.42-10.557 21.42-22.572V34.51c-.19-5.725-19.19-27.556-28.83-33.282-29.97-1.053-50.76-1.234-81.73-1.23C79.59 0 37.36.483 28.83 1.228zm58.753 59.674a25.26 25.26 0 0 1-4.308 5.546 25.588 25.588 0 0 1-17.94 7.32c-6.985 0-13.356-2.8-17.976-7.322-1.67-1.64-2.94-3.394-4.11-5.436v.004c-1.16 2.046-2.79 3.798-4.46 5.44a25.664 25.664 0 0 1-17.97 7.317c-.84 0-1.71-.23-2.42-.47-.98 10.25-1.4 20.04-1.544 27.19v.04c-.02 3.63-.035 6.61-.054 10.75.19 21.51-2.13 69.7 9.48 81.54 17.99 4.2 51.094 6.11 84.31 6.12h.003c33.214-.01 66.32-1.92 84.31-6.11 11.61-11.842 9.29-60.032 9.48-81.535-.017-4.14-.034-7.122-.053-10.75v-.04c-.15-7.142-.565-16.935-1.55-27.183-.71.24-1.587.473-2.43.473a25.68 25.68 0 0 1-17.975-7.316c-1.675-1.645-3.3-3.397-4.463-5.44l-.005-.007c-1.167 2.04-2.438 3.797-4.113 5.436-4.62 4.52-10.99 7.32-17.973 7.32s-13.32-2.8-17.94-7.32a25.428 25.428 0 0 1-4.31-5.546 25.185 25.185 0 0 1-4.266 5.546 25.673 25.673 0 0 1-17.98 7.32c-.244 0-.49-.01-.73-.02h-.008c-.243.01-.486.02-.73.02-6.986 0-13.357-2.8-17.978-7.32a25.16 25.16 0 0 1-4.27-5.544zM69.123 84.775l-.002.008h.02c7.31.016 13.81 0 21.85 8.783 6.34-.663 12.95-.996 19.58-.985h.01c6.63-.01 13.24.33 19.58.99 8.05-8.78 14.54-8.76 21.85-8.78h.02v-.01c3.46 0 17.27 0 26.9 27.04l10.348 37.1c7.665 27.6-2.453 28.28-15.073 28.3-18.72-.69-29.08-14.29-29.08-27.88-10.36 1.7-22.45 2.55-34.535 2.55h-.005c-12.086 0-24.172-.85-34.53-2.55 0 13.59-10.36 27.18-29.078 27.88-12.62-.02-22.74-.7-15.073-28.29l10.34-37.1c9.63-27.04 23.45-27.04 26.9-27.04zm41.44 21.25v.007c-.017.017-19.702 18.096-23.24 24.526l12.89-.516v11.24c0 .527 5.174.313 10.35.074h.007c5.177.24 10.35.453 10.35-.073v-11.24l12.89.514c-3.538-6.43-23.24-24.525-23.24-24.525v-.006l-.002.002z" />
    </svg>
    <svg class="Icon FillParent" v-if="isYouTube" viewBox="0 0 159 110">
      <path class="IconPath" d="M154,17.5A19.55,19.55,0,0,0,140.2,3.7C131.18.22,44-1.49,18.38,3.76L64.2,31.6,105,55,64.2,78.4V31.6L18.38,3.76l-.18,0A19.55,19.55,0,0,0,4.4,17.6C.32,35.5,0,74.2,4.5,92.5a19.55,19.55,0,0,0,13.8,13.8c17.9,4.12,103,4.7,122,0a19.55,19.55,0,0,0,13.8-13.8C158.45,73,158.76,36.7,154,17.5Z"></path>
    </svg>
    <svg class="Icon FillParent" v-if="isDiscord" viewBox="0 -28.5 256 256">
      <path class="IconPath" d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z"></path>
    </svg>
    <svg class="Icon FillParent" v-if="isLinkedIn" viewBox="0 0 464.56 464.55">
      <path class="IconPath" d="M395.84,395.83H327V288c0-25.7-.46-58.79-35.8-58.79-35.85,0-41.34,28-41.34,56.92V395.82H181V174.15h66.08v30.29H248a72.52,72.52,0,0,1,65.19-35.81c69.77,0,82.63,45.89,82.63,105.59Zm-292.48-252h0a39.95,39.95,0,1,1,40-40h0a40.15,40.15,0,0,1-39.94,39.95m34.42,252H68.87V174.15h68.91ZM430.15,0H34.28A34.07,34.07,0,0,0,0,33.52V431a34.09,34.09,0,0,0,34.28,33.52H430.15A34.13,34.13,0,0,0,464.56,431V33.49A34.13,34.13,0,0,0,430.15,0"></path>
    </svg>
    <svg class="Icon FillParent" v-if="isMail" viewBox="0 0 24 24">
      <path class="IconPath" d="M12 12.713l-11.985-9.713h23.971l-11.986 9.713zm-5.425-1.822l-6.575-5.329v12.501l6.575-7.172zm10.85 0l6.575 7.172v-12.501l-6.575 5.329zm-1.557 1.261l-3.868 3.135-3.868-3.135-8.11 8.848h23.956l-8.11-8.848z"></path>
    </svg>
  </a>
</template>

<script>
export default {
  name: "LinkBox",
  computed: {
    validateLink() {
      if(this.Link == "") return null;
      if(typeof this.Link == "undefined") return null;
      return this.Link;
    },
    validLink() { return this.Link != null && typeof this.Link != "undefined" && this.Link != ""},
    isSteam() { return this.Icon == "Steam" },
    isItchIO() { return this.Icon == "ItchIO" },
    isYouTube() { return this.Icon == "YouTube" },
    isDiscord() { return this.Icon == "Discord" },
    isLinkedIn() { return this.Icon == "LinkedIn" },
    isMail() { return this.Icon == "Mail" },
  }
}
</script>

<style scoped>

.HoverEffect {
  transition: var(--scale-transform-transition);
}

.HoverEffect:hover {
  transform: var(--scale-transform);
}

.IconPath {
  fill: var(--color-gradient2)
}

.FillParent {
  width: 100%;
  height: 100%;
}


</style>