<template>
  <div class="TopNav">
    <div class="InnerTopNav">
      <router-link class="Left" to="/">Home</router-link>
      <router-link class="Left" to="/project">Projects</router-link>
      <router-link class="Left" to="/resume">About Me</router-link>
      <router-link class="Left" to="/contact">Contact</router-link>
      <LightSwitch class="Right" />
    </div>
  </div>
</template>

<script>
import LightSwitch from "./LightSwitch.vue";
export default {
  name: "PageHeader",
  components: {LightSwitch}
}

</script>

<style scoped>

.TopNav {
  background-color: var(--color-panel);
  border: solid var(--color-background);
  border-width: var(--outer-global-padding);
  width: 100%;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 5;
}

.InnerTopNav {
  background-color: var(--color-background);
  overflow: hidden;
  margin: var(--outer-global-padding);
}

.InnerTopNav a {
  float: left;
  color: var(--color-background-invers);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  transition: var(--scale-transform-transition);
}

.InnerTopNav a:hover {
  transform: var(--scale-transform);
}

.InnerTopNav a.router-link-active {
  color: var(--color-gradient2);
}

.InnerTopNav a.router-link-active:before {
  color: var(--color-gradient2);
  content: "/";
}

@media (max-width: 420px) {
  .InnerTopNav a {
    font-size: 12px;
  }
}

.Right {
  display: inline-block;
  float: right;
  margin: 10px var(--outer-global-padding);
}

</style>