<script setup>
defineProps({
  From: { type: String, required: true },
  To: { type: String, required: true },
  Header: { type: String, required: true },
  Content: { type: String, required: true },
  DecoType: { type: Number, required: false, default: 0}
})
</script>

<template>
  <div class="ResumeSection">
    <div class="MainSection">
      <div class="Decorator Gradient1" :class="ClipClass"></div>
      <div class="Decorator Gradient2" :class="ClipClass"></div>
      <div class="Decorator Gradient3" :class="ClipClass"></div>
      <div class="TextBackground">
        <H1 v-html="Header"></H1>
        <p v-html="Content"></p>
      </div>
    </div>

    <div class="DateSection">
      <p class="From" v-if="To != From" v-html="From"></p>
      <p class="From" v-if="To != From"> - </p>
      <p class="To" v-html="To"></p>
    </div>
  </div>
</template>

<script>
export default {
  name: "ResumeSection",
  computed: {
    ClipClass() {
      return ["ClipPath" + this.DecoType % 3]
    }
  }
}
</script>

<style scoped>

.To {
  font-weight: bold;
  font-size: large;
}

.From {
  padding-right: 5px;
}

.MainSection, .DateSection {
  width: fit-content;
  margin: var(--outer-global-padding);
}

.TextBackground {
  background-color: var(--color-background);
  padding: 5px;
}

.DateSection {
  background-color: var(--color-background);
  padding: 5px;
}

p, H1 {
  color: var(--color-background-invers);
}

.DateSection p {
  display: inline-block;
}

.Decorator {
  --overflow: 100px;
  width: calc(100% + var(--overflow));
  height: calc(100% + var(--overflow));
  position: absolute;
  --displacement: calc(-1 * var(--overflow) / 2);
  left: var(--displacement); top: var(--displacement);
}

.Gradient1 {
  background-color: var(--color-gradient1);
}
.Gradient2 {
  background-color: var(--color-gradient2);
}
.Gradient3 {
  background: var(--color-gradient2);
  background: linear-gradient(90deg, var(--color-gradient2) 0%, var(--color-gradient3) 100%);
}

.ClipPath0.Gradient1 {
  clip-path: polygon(11% 17%, 93% 14%, 92% 100%, 21% 85%, 1% 61%);
}
.ClipPath0.Gradient2 {
  clip-path: polygon(54% 0, 91% 21%, 89% 92%, 24% 90%, 0 39%);
}
.ClipPath0.Gradient3 {
  clip-path: polygon(18% 19%, 66% 13%, 100% 70%, 15% 100%, 2% 61%);
}

.ClipPath1.Gradient1 {
  clip-path: polygon(25% 1%, 95% 10%, 93% 97%, 4% 89%);
}
.ClipPath1.Gradient2 {
  clip-path: polygon(82% 6%, 100% 46%, 90% 90%, 14% 74%, 0 48%);
}
.ClipPath1.Gradient3 {
  clip-path: polygon(54% 5%, 100% 79%, 63% 94%, 3% 81%, 2% 53%, 17% 4%);
}

.ClipPath2.Gradient1 {
  clip-path: polygon(94% 3%, 92% 92%, 31% 100%, 11% 92%, 0 69%);
}
.ClipPath2.Gradient2 {
  clip-path: polygon(35% 0, 89% 15%, 100% 81%, 17% 82%, 0 33%);
}
.ClipPath2.Gradient3 {
  clip-path: polygon(88% 0, 100% 46%, 62% 80%, 11% 96%, 3% 77%, 12% 11%);
}


</style>