<script setup>
defineProps({
  Label: { type: String, required: true },
  Value: { type: Number, required: true },
  Level: { type: String, required: true },
  Tooltip: { type: String, required: false, default: ''}
})
</script>

<template>
  <div class="SkillBar">
    <div class="TextContainer">
      <span class="Left"> {{Label}}</span>
      <span class="Right"> {{Level}} </span>
    </div>
    <div class="Progress">
      <div class="Bar" :style="{width: (Value) + '%'}"></div>
    </div>
    <div class="Tooltip" v-if="Tooltip != ''"> {{Tooltip}} </div>
  </div>
</template>

<script>
export default {
  name: "SkillBar"
}
</script>

<style scoped>

.SkillBar {
  overflow: visible;
}

.TextContainer {
  /*display: inline-block;*/
}

.Left, .Right {
  color: var(--color-background-invers);
}

.Right {
  float: right;
}

.Progress {
  background-color: var(--color-panel);
  height: 10px;
}

.Bar {
  background: var(--color-gradient2);
  background: linear-gradient(90deg, var(--color-gradient2) 0%, var(--color-gradient3) 100%);
  height: 100%;
}

.Tooltip {
  background-color: var(--color-panel);
  color: var(--color-panel-invers);
  text-align: center;
  padding: 5px;
  z-index: 1;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.SkillBar:hover .Tooltip {
  max-height: 200px;
  visibility: visible;
  opacity: 1;
}

</style>