<script setup>
defineProps({
  images: { type: Array, required: true },
  decorated: { type: Boolean, required: false, default: true }
})
</script>

<template>

  <div class="SlideShow" ref="SlideShow">
    <div class="SlideShowPanel" ref="SlideShowPanel" @mousedown="HandleMouseDown" :class="{AutoScroll: autoScroll}">
      <div class="ImagePanel" v-for="(image, index) in images">
        <div v-if="decorated" class="Decorator Gradient1" :class="ClipClass(index)"></div>
        <div v-if="decorated" class="Decorator Gradient2" :class="ClipClass(index)"></div>
        <div v-if="decorated" class="Decorator Gradient3" :class="ClipClass(index)"></div>
        <img class="Image" draggable="false" alt="SlideShowElement" :src="image">
      </div>
    </div>
  </div>

</template>

<script>

export default {
  name: "SlideShow",
  data() {
    return {
      timer: null,
      currentIndex: 0,
      autoScroll: false
    };
  },
  mounted() {
    this.StartSlide();
  },
  unmounted() {
    clearInterval(this.timer);
  },
  methods : {
    ClipClass(index) {
      return ["ClipPath" + index % 2]
    },
    StartSlide() {
      this.timer = setInterval(this.Next, 4000);
      this.autoScroll = true;
    },
    StopSlide() {
      clearInterval(this.timer);
      this.autoScroll = false;
    },
    Next() { this.SetIndex(this.currentIndex + 1); },
    Prev() { this.SetIndex(this.currentIndex - 1); },
    SetIndex(index) {
      let indexLimit = window.innerWidth < 800 ? this.images.length : this.images.length - 1;
      this.currentIndex = index % indexLimit;
      this.ClipIndex(this.currentIndex);
    },

    HandleMouseDown(event) {
      event.preventDefault();
      let startLeft = this.GetPosition();
      let start = 0, diff = 0;
      if(event.pageX) start = event.pageX;
      else if( event.clientX) start = event.clientX;

      this.StopSlide();
      let ref = this;
      document.body.onmousemove = function(e) {
        let end = 0;
        if( e.pageX) end = e.pageX;
        else if( e.clientX) end = e.clientX;

        diff = end - start;
        ref.SetPosition(startLeft + diff);
        console.log(ref.GetPosition());
      };
      document.body.onmouseup = function() {
        // do something with the action here
        // elem has been moved by diff pixels in the X axis
        document.body.onmousemove = document.body.onmouseup = null;
        ref.ClipPosition();
        ref.StartSlide();
      };
    },
    TotalArea() { return this.$refs.SlideShow.clientWidth },
    ScrollArea() { return this.$refs.SlideShowPanel.clientWidth },
    GetPosition() {
      let elem = this.$refs.SlideShowPanel;
      if(elem.style.left === "") elem.style.left = "0px";
      return parseInt(elem.style.left)
    },
    SetPosition(xValue) {
      let padding = 15, overflow = 100;
      let clampedValue = this.Clamp(xValue, this.TotalArea() - this.ScrollArea(), 0) - padding;
      this.$refs.SlideShowPanel.style.left = clampedValue + "px";
    },
    ClipIndex(index) {
      let segments = this.images.length;
      let segmentSize = this.ScrollArea() / segments;
      index = index % segments;
      this.SetPosition(- segmentSize * index);
    },
    ClipPosition() {
      let segments = this.images.length;
      let segmentSize = this.ScrollArea() / segments;
      let inverseIndex = Math.round(this.GetPosition() / segmentSize);
      this.SetPosition(segmentSize * inverseIndex);
      this.currentIndex = - inverseIndex;
    },
    Clamp(num, min, max) {
      return Math.min(Math.max(num, min), max);
    }
  },
}
</script>

<style scoped>

.SlideShowPanel {
  position: relative;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  left: 0;
  z-index: 1;
}

.AutoScroll {
  transition: left 1s ease;
}

/* Bigger margin if we have decoration */
.ImagePanel { margin: 50px; }

.Image { object-fit: cover;}

.Image {
  --image-width: calc((100vw - 4 * var(--outer-global-padding) - 50px * 4) / 2);
  width: var(--image-width);
  height: calc(var(--image-width) / 16 * 9);
}

@media (max-width: 800px) {
  .Image {
    --image-width: calc((100vw - 4 * var(--outer-global-padding) - 50px * 2));
  }
}

.Decorator {
  --overflow: 90px;
  width: calc(100% + var(--overflow));
  height: calc(100% + var(--overflow));
  position: absolute;
  --displacement: calc(-1 * var(--overflow) / 2);
  left: var(--displacement); top: var(--displacement);
}

.Gradient1 {
  background-color: var(--color-gradient1);
}
.Gradient2 {
  background-color: var(--color-gradient2);
}
.Gradient3 {
  background: var(--color-gradient2);
  background: linear-gradient(90deg, var(--color-gradient2) 0%, var(--color-gradient3) 100%);
}

.ClipPath0.Gradient1 {
  clip-path: polygon(62% 0, 100% 20%, 16% 96%, 0 59%);
}
.ClipPath0.Gradient2 {
  clip-path: polygon(44% 5%, 99% 26%, 97% 95%, 34% 95%, 22% 25%);
}
.ClipPath0.Gradient3 {
  clip-path: polygon(21% 15%, 97% 8%, 84% 68%, 23% 97%, 1% 36%);
}

.ClipPath1.Gradient1 {
  clip-path: polygon(59% 0, 78% 4%, 69% 99%, 0 81%);
}
.ClipPath1.Gradient2 {
  clip-path: polygon(8% 6%, 45% 5%, 29% 80%, 2% 53%);
}
.ClipPath1.Gradient3 {
  clip-path: polygon(45% 5%, 97% 17%, 100% 60%, 96% 88%, 21% 100%, 9% 42%);
}

</style>