<script setup>
defineProps({
  images: { type: Array, required: true },
  nonInteractive: { type: Boolean, required: false, default: false }
})
</script>

<template>
  <div class="imageDisplay">
    <TransitionGroup class="container" name="fade" tag="div" @mouseenter="handleMouseEnter" @mouseleave="handleMouseExit">
      <div v-for="image in [currentImg]" :key="image" class="stack container" >
        <img :src="image" />
      </div>
    </TransitionGroup>
    <div v-if="!nonInteractive" class="dots">
      <div v-for="(image, index) in images"
           @click="setIndex(index)"
           class="dot" v-bind:class="{selected: index == currentIndex}"
      >
        <div class="dotMiddle"></div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "Slider",
  data() {
    return {
      timer: null,
      currentIndex: 0
    };
  },

  mounted() {
    this.startSlide();
  },

  methods: {
    handleMouseEnter() { if(!this.nonInteractive) this.stopSlide();},
    handleMouseExit() { if(!this.nonInteractive) this.startSlide();},
    startSlide() {this.timer = setInterval(this.next, 5000);},
    stopSlide() { clearInterval(this.timer); },
    next() { this.setIndex(this.currentIndex + 1); },
    prev() { this.setIndex(this.currentIndex - 1); },
    setIndex(index) { this.currentIndex = index % this.images.length; }
  },

  computed: {
    currentImg() { return this.images[Math.abs(this.currentIndex) % this.images.length]; }
  }
}
</script>

<style scoped>
.imageDisplay {
  overflow: hidden;
  display: inline-block;
}

fade-enter-active,
.fade-leave-active {
  z-index: 1;
  transition: all 1s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.container {
  width:100%; height:100%;
}

.stack {
  position: absolute;
}

img {
  object-fit: cover;
  width:100%; height:100%;
}

.dots {
  --dotsize: 30px;
  height: var(--dotsize);
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.dot {
  flex: none;
  background-color: var(--vt-c-black);
  transition: background-color 0.25s ease;
  width: var(--dotsize);
  height: 100%;
  z-index: 1;
  margin: 0 5px;
  clip-path: polygon(
      100% 0,
      15% 15%,
      0% 100%,
      85% 85%
  )
}

.dotMiddle {
  background-color: var(--vt-c-white);
  width: 100%;
  height: 100%;
  clip-path: polygon(
      80% 20%,
      15% 15%,
      20% 80%,
      85% 85%
  )
}

.selected {
  background-color: var(--vt-c-main-color1);
}

.selected .dotMiddle {
  background-color: var(--vt-c-black);
}

</style>