<script setup>
import Slider from "./Slider.vue";
defineProps({
  image: { type: Object, required: true },
  description: { type: String, required: true },
})
</script>

<template>

  <div class="SmolPanel">

    <Slider v-if="Array.isArray(image)" class="FillParent" :images="image" nonInteractive="true"> </Slider>
    <img v-else class="Display FillParent" :src="image">

    <div class="Overlay FillParent">
      <p class="Description" v-html="description"></p>
    </div>
  </div>

</template>

<script>
export default {
  name: "SmolProjectDisplay",
}
</script>

<style scoped>

.SmolPanel {
  border: solid var(--color-panel-invers);
  border-width: calc(var(--outer-global-padding) / 2);
}

.FillParent {
  width: 100%; height: 100%;
  position: absolute;
}

.Display {
  object-fit: cover;
}

.Overlay {
  background-color: var(--color-background);
  transition: opacity 1s ease;
  opacity: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}

.Overlay:hover {
  opacity: 0.75;
}

.Description {
  color: var(--color-background-invers);
  width: 100%;
  margin: 5px;
  text-align: center;
}

</style>