/* color palette from <https://github.com/vuejs/theme> */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-mute: #383838;

  --vt-c-gradientLightness: 1;

  --vt-c-gradient1-color1: hsl(192deg, 72%, calc(53% * var(--vt-c-gradientLightness))); /* #32BCDE */
  --vt-c-gradient1-color2: hsl(148deg, 41%, calc(52% * var(--vt-c-gradientLightness))); /* #51B680 */
  --vt-c-gradient1-color3: hsl(57deg, 86%, calc(63% * var(--vt-c-gradientLightness))); /* #F2E951 */
}

/* semantic color variables for this project */
:root {

  --color-gradient1: var(--vt-c-gradient1-color1);
  --color-gradient2: var(--vt-c-gradient1-color2);
  --color-gradient3: var(--vt-c-gradient1-color3);

  --color-background: var(--vt-c-black);
  --color-background-invers: var(--vt-c-white);
  --color-panel: var(--vt-c-white);
  --color-panel-invers: var(--vt-c-black);

  --outer-global-padding: 15px;
  --section-gap: 160px;
  --big-boy-font-size: 60px;

  --scale-transform-transition: transform .2s ease;
  --scale-transform: scale(1.25);
}

:root.dark-theme {

  --vt-c-gradientLightness: 0.7;
  --vt-c-highlightLightness: 1;

  --color-background: var(--vt-c-black);
  --color-background-invers: var(--vt-c-white);
  --color-panel: var(--vt-c-black-mute);
  --color-panel-invers: var(--vt-c-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

* {
  --transition-duration: 1s ease;
  transition:
          background-color var(--transition-duration),
          color var(--transition-duration),
          border-color var(--transition-duration);
}

body {
  min-height: 100vh;
  color: var(--color-panel-invers);
  transition: background-color 0s;
  background: var(--color-background);
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
