<script setup>
import PageHeader from "./components/PageHeader.vue";
</script>

<template>
  <PageHeader />
  <div class="router-view">
    <router-view />
  </div>
</template>

<style>
@import './assets/base.css';

.Section {
  background-color: var(--color-panel);
  margin: var(--outer-global-padding);
  margin-top: 0;
  padding: var(--outer-global-padding);
  overflow: hidden;
  min-height: calc(100vh - var(--outer-global-padding) - 120px);
}

.DynamicFlexContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.DynamicFlexElement {
  width: 50%;
}

@media (max-width: 900px) {
  .DynamicFlexContainer {
    display: block;
  }

  .DynamicFlexElement {
    width: 100% !important;
  }
}
</style>
